<div class="accordion" id="accordion-sidebar">
    <div class="accordion-item">
        <h2 class="accordion-header">
            <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapseOne" aria-expanded="true" aria-controls="panelsStayOpen-collapseOne">
                habitaciones
            </button>
        </h2>
    </div>
    <div id="panelsStayOpen-collapseOne" class="accordion-collapse collapse show">
        <div class="accordion-body">
            <a routerLink="habitaciones" > Habitaciones</a>
        </div>
    </div>
</div>
<div class="accordion" id="accordion-sidebar">
    <div class="accordion-item">
        <h2 class="accordion-header">
            <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapseOne" aria-expanded="true" aria-controls="panelsStayOpen-collapseOne">
                Calendario
            </button>
        </h2>
    </div>
    <div id="panelsStayOpen-collapseOne" class="accordion-collapse collapse show">
        <div class="accordion-body">
            <a routerLink="calendario" > calendario</a>
        </div>
    </div>
</div>