<div class="container">
    <h2>Iniciar Sesión</h2>
    <form [formGroup]="form" (ngSubmit)="handleSubmit()">
        <label for="credential">Usuario o Correo Electrónico</label>
        <input type="text" id="credential" formControlName="credential" required>
        @if (this.form.controls.credential.invalid && this.form.controls.credential.errors?.["formFailed"] === true) {
            @if (this.form.controls.credential.errors?.["required"]) {
                <span>Este campo es obligatorio</span>
            }
            @if (this.form.controls.credential.errors?.["pattern"]) {
                <span>Ingrese un credencial válido</span>
            }
        }

        <label for="loginMethod">Método de Inicio de Sesión</label>
        <select id="loginMethod" name="loginMethod" formControlName="loginMethod" required>
            <option value="username">Nombre de Usuario</option>
            <option value="email">Correo Electrónico</option>
        </select>
        @if (this.form.controls.loginMethod.invalid && this.form.controls.loginMethod.errors?.["formFailed"] === true) {
            @if (this.form.controls.loginMethod.errors?.["required"]) {
                <span>Este campo es obligatorio</span>
            }
        }

        <label for="password">Contraseña</label>
        <input type="password" id="password" formControlName="password" required>
        @if (this.form.controls.password.invalid && this.form.controls.password.errors?.["formFailed"] === true) {
            @if (this.form.controls.password.errors?.["required"]) {
                <span>Este campo es obligatorio</span>
            }
        }

        <button type="submit">Ingresar</button>
    </form>
</div>

