<div class="container">
    <h2>Recuperar Contraseña</h2>
    <form [formGroup]="form" (ngSubmit)="handleSubmit()">
        <label for="email">Correo Electrónico</label>
            <input type="text" id="email" formControlName="email" required>
            @if (this.form.controls.email.invalid && this.form.controls.email.errors?.["formFailed"] === true) {
                @if (this.form.controls.email.errors?.["required"]) {
                    <span>Este campo es obligatorio</span>
                }
                @if (this.form.controls.email.errors?.["email"]) {
                    <span>Ingrese un correo electrónico válido</span>
                }
            }
        <button type="submit">Enviar</button>
    </form>
</div>
