<div class="container">
    <h2>Cambio de Contraseña</h2>
    <form [formGroup]="form" (ngSubmit)="handleSubmit()">
        <label for="password">Contraseña</label>
        <input type="password" id="password" formControlName="password" (input)="resetControl()" required>
        @if (this.form.controls.password.invalid && this.form.controls.password.errors?.["formFailed"] === true) {
            @if (this.form.controls.password.errors?.["required"]) {
                <span>Este campo es obligatorio</span>
            }
        }
        <label for="password_repeat">Repita la Contraseña</label>
        <input type="password" id="password_repeat" formControlName="password_repeat" (input)="resetControl()" required>
        @if (this.form.controls.password_repeat.invalid && this.form.controls.password_repeat.errors?.["formFailed"] === true) {
            @if (this.form.controls.password_repeat.errors?.["required"]) {
                <span>Este campo es obligatorio</span>
            }
            @if (this.form.controls.password_repeat.errors?.["passwordMismatch"]) {
                <span>Las contraseñas no coinciden</span>
            }
        }

        <button type="submit">Ingresar</button>
    </form>
</div>
